<h2>Mirage - test app</h2>
<h4>Is pods (pods/app/tplt.hbs).   as opposite to templt/app</h4>
<LinkTo @route="module-count">module count</LinkTo>
<LinkTo @route="crud-demo">crud-demo</LinkTo>

{{outlet}}
